---
pages:
  - title: CSS Grids
    slides:
      - intro.md
  - folder: intro
    slides:
      - underware.html
      - history.html
  - folder: book-grids
    slides:
      - intro.html
      - vdh.html
      - swiss.html
      - terms.html
  - folder: web-grids
    slides:
      - intro.html
      - problems.html
      - gridding.html
      - 960.html
      - bootstrap.html
  - folder: oh-my
    slides:
      - intro.html
      - performance.html
      - flexbox.html
  - folder: scratch
    slides:
      - intro.html
      - yes.html
      - caniuse.html
      - supports.html
  - folder: creating-grids
    slides:
      - intro.html
      - columns-rows.html
      - gutters.html
      - spanning.html
      - proportions.html
  - folder: the-grid
    slides:
      - intro.html
      - markup.html
      - rows-columns.html
      - span.html
      - areas.html
  - folder: examples
    slides:
      - intro.html
      - basic.html
      - tryptic.html
      - gallery.html
  - folder: crazy-stuff
    slides:
      - intro.html
      - gridded-card.html
      - gridded-gallery.html
      - full.html
  - slides:
      - thanks.html
---
{% extends '_layout.html' %}

{% from '_slide.html' import slide %}

{%block content %}
<main class="_stage">
  {% for section in pages %}
    <article class="_stage--group" {% if section.title %}data-title="{{section.title}}"{% endif %}>
      {% for page in section.slides %}
        {{ slide(page, section) }}
      {% endfor %}
    </article>
  {% endfor %}
</article>
{% endblock %}

